* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hi {
  padding: 50px 0;
  background-color: #445162;
}

.hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hi__body {
  color: white;
  padding: 0 20px 0 0;
}

.hi__title {
  margin: 0 0 40px 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
}

.hi__list li {
  background: url("../img/icon.png") 0 1px no-repeat;
  margin: 0 0 10px 0;
  padding: 0 0 0 36px;
  font-size: 20px;
  line-height: 25px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.hi__list li:last-child {
  margin: 0;
}

.title {
  color: #445161;
  font-size: 30px;
}

.what {
  padding: 50px 0;
}

.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}

.what__image img {
  max-width: 100%;
}

.what__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 38px;
}

.what__title {
  margin-bottom: 35px;
}

.what__text p {
  margin-bottom: 25px;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.columns {
  background-color: #f5f5f5;
  padding: 50px 0 20px 0;
}

.columns__title {
  text-align: center;
  margin-bottom: 30px;
}

.columns__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}

.columns__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 8px;
  margin-bottom: 30px;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.item__body {
  padding-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item__title {
  color: #445161;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
}

.item__text {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.vertical {
  padding: 50px 0;
}

.vertical__title {
  text-align: center;
  margin: 0 0 30px 0;
}

.vertical__body {
  max-width: 990px;
  margin: 0 95px;
}

.vertical__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -22.5px;
}

.vertical__column {
  padding: 0 22.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vertical__column_1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.vertical__column_3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.vertical__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #445162;
  border-radius: 5px;
  color: #fff;
  padding-bottom: 20px;
  background-color: #445162;
}

.vertical__subtitle {
  padding: 15px 0;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.vertical__label {
  padding: 12px 0;
  background-color: rgb(255, 255, 255);
  color: rgb(68, 81, 98);
  font-size: 40px;
  text-align: center;
}

.vertical__text {
  padding: 20px;
  display: block;
  font-size: 16px;
  line-height: 24px;
}

.vertical__text p {
  margin-bottom: 15px;
}

.vertical__text p:last-child {
  margin: 0;
}

.vertical__btn {
  margin: 0 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(68, 81, 97);
  font-size: 18px;
  display: block;
  line-height: 40px;
  text-align: center;
}

.vertical__btn:hover {
  -webkit-box-shadow: 0 0 10px greenyellow;
          box-shadow: 0 0 10px greenyellow;
}

.vertical__btn:active {
  position: relative;
  top: 3px;
}

.footer {
  background-color: #f5f5f5;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  color: #445162;
  font-size: 12px;
  letter-spacing: 0.3px;
}