@import "nullstyle.css";
*,*:before,*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  background-color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}


.wrapper{
  min-height: 100%;
  overflow: hidden;
}

.content{
  max-width: 1330px;
  margin: 0 auto;
  padding: 50px 15px;
}

.wide-image {
  margin: 0 0 20px 0;
  text-align: center;
}

.wide-image img{
  max-width: 100%;
}

.text__value p{
  margin: 0 40px 20px 40px;
  font-size: 24px;
  line-height: 32px;

}

.narrow-pic{
  margin: 0 0 20px 0;
  text-align: center;
}

.narrow-pic img{
  max-width: 100%;
}

.items__item{
  display: flex;
  margin: 0 0 30px 0;
}
.items__image{
  flex: 0 0 33.333%;
  position: relative;
  min-height: 150px;
}

.items__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.items__body {
  flex: 1 1 auto;
  padding: 0 0 0 30px;
}
.items__label {
  font-size: 28px;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 20px 0;
}
.items__text{
  margin: 0 40px 20px 40px;
  font-size: 18px;
  line-height: 32px;
}