@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');
// сверху шрифт на прозапас
@import "nullstyle.css";
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Medium'),
  url('../Gilroy-Medium.ttf') format('truetype'),
  url('../Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../Gilroy-Medium.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

.wrapper{
  margin: 15px auto;
  min-width: 320px;
  height: 40px;
  //line-height: 45px;
  background-color: white;
  position: relative;
  //top: 35px;
  //transform: translateX(-50%);
  color: white;
  text-align: center;
}

#check-menu{
  display: none;
}

.burger__menu{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.burger__line{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: #828282;
  transition: 0.6s;
}

.second, .third{
  top: 18px;
}
.fourth{
  top: 28px;
}

.main-menu{
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.6s;
}


a{
  display: block;
  width:100%;
  padding: 10px;
  color: #828282;
  font-size: 34px;
  line-height: 42px;
  text-decoration: none;
  background-color: white;
  text-align: left;
  margin-bottom: 68px;
}


.main-menu a:first-child{
  color: black;
}

#check-menu:checked ~ .main-menu{
  max-height: 800px;
  font-size: 16px;
}
#check-menu:checked ~ .first{
  display: none;
}
#check-menu:checked ~ .second{
  transform: rotate(45deg);
}
#check-menu:checked ~ .third{
  transform: rotate(-45deg);
}
#check-menu:checked ~ .fourth{
  display: none;
}