@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');
// сверху шрифт на прозапас
@import "nullstyle.css";
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Medium'),
  url('../Gilroy-Medium.ttf') format('truetype'),
  url('../Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../Gilroy-Medium.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
body{
  font-size: 18px;
  font-family: "Gilroy";
}

.wrapper{
  position: relative;
  width: 100%;
  //width: 1440px;
  height: 4759px;
  left: 0;
  top: 0;
}

.content{
  width: 940px;
  margin: 0 auto;
}
//main
.introduce{}

//menu
.introduce__menu{
  margin: 40px 0;
  padding: 0 5px;
}
.introduce__list{
  display: flex;
  justify-content: space-between;
}
.introduce__link{
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  opacity: 0.5;
  font-weight: 700;
}
.link1{
  opacity: 1;
}

.border{
  border-bottom: 1px solid #828282;
  margin-bottom: 40px;
}

//first about
.introduce__name{
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  width: 940px;

}
.introduce__full-name{
  //margin-top: 5%;
  display: flex;
  flex-direction: column;
  font-size: 47.3392px;
  line-height: 59px;
  //align-self: end;
}
.introduce__main__info{
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  align-self: end;
  padding-bottom: 1.3%;
}

.introduce__ru_eng{
  display: flex;
  flex-direction: row;
  padding-top: 8%;
  align-self: end;
  transform: rotate(-90deg);
  padding-left: 7px;
}
.ru{
  padding-right: 5px;
}
.eng{
  padding-left: 5px;
}

.button a{
  color: black;
}


.introduce__photo{
  padding-bottom: 104px;
}



// second section
.about{
  text-align: center;
  background-color: #F6F6F6;
  //width: 1445px;
}
.about__me{
  padding-top: 120px;
  font-size: 34px;
  line-height: 42px;
  color: #070707;
  font-weight: 700;
  margin-bottom: 18px;
}
.about__text{
  font-size: 18px;
  line-height: 22px;
}
.about__text p:nth-child(2){
  padding-bottom: 40px;
}
.about__text p:nth-child(4){
  padding-bottom: 40px;
}
.about__text p:last-child{
  padding-bottom: 107px;
}
.text{}