@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import 'nullstyle.scss';

//233.5  450/502  233.5

.wrapper{
  font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
  height: 0px;
  max-width: 1357px;
  margin: 0 auto;
  background-color: green;
}

.main-block{
  letter-spacing: 0.1px;
  font: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
  height: 502px;
  width: 450px;
  margin: 233.5px 453.5px 0 453.5px;
  border-radius: 8px;
  border: 1px solid #dadce0;
}


.logo{

  text-align: center;
  width: 100%;
  //height: 48px;
  .pic{
    margin-top: 20px;
    max-width: 270px;
  }
}

.title{
  &__enter{
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
  }
  &__use{
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 1.5;
    text-align: center;
    //padding-top: 8px;
  }
}

.entry-block{
  margin-top: 30px;
  &__enter-mail{
    font-size: 30px;
    padding-left: 10%;
    max-width: 90%;
  }
  &__forget-mail{
    color: #1a73e8;
    padding-bottom: 3px;
    padding-top: 9px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.7;
  }
  &__mail{
    font-size: 30px;
  }
  &__mail_area{
    font-size: 16px;
    color: #202124;
    padding: 13px 15px;
    margin: 1px 1px 0 1px;
    width: 100%;
    height: 54px;
    border: 1px solid grey;
    opacity: 0.8;
    border-radius: 4px;
    color: #1a73e8
  }

  &__text{
    font-size: 15px;
    margin-top: 40px;
    display: block;
    color: #5f6368;
    line-height: 1.4286;
    .link-also{
      color: #1a73e8;
    }
  }
  &__further{
    display: flex;
    padding-left: 10%;
    margin-top: 45px;
    padding-bottom: 20px;
    width: 100%;
    align-items: center;
    color: var(--gm-colortextbutton-ink-color,#1a73e8);
    font-weight: 700;
  }
  &__create-acc{
    font-size: 14px;
    background-color: transparent;
    color: white;
    .link_3{
      color: #1a73e8;
    }
  }
  &__go{
    font-size: 14px;
    margin-left: 150px;
    color: white;

    .link_4{
      color: white;
      background-color: #1a73e8;
      padding: 10px 25px;
      border-radius: 4px;
    }
  }
  &__go:visited{
    color: white;
  }
}

