@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');
// сверху шрифт на прозапас
@import "nullstyle.css";
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Medium'),
  url('../Gilroy-Medium.ttf') format('truetype'),
  url('../Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../Gilroy-Medium.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
body{
  font-size: 18px;
  font-family: "Gilroy";
  //max-width: 100%;
}

.wrapper{
  //min-width: 940px;
  max-width: 1445px;
  height: 4759px;
  margin: 0 auto;
}

.content{
  //flex: 1 1 auto;
  //max-width: 100%;
  margin: 0 auto;
}
//main
.introduce{
  max-width: 940px;
  margin: 0 auto;
}

//menu
.introduce__menu{
  margin: 40px auto;
  padding: 0 5px;
}
.introduce__list{
  display: flex;
  justify-content: space-between;
}
.introduce__link{
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  opacity: 0.5;
  font-weight: 700;
}
.link1{
  opacity: 1;
}

.border{
  border-bottom: 1px solid #828282;
  //width: 940px;
  margin: 0 auto 40px;
}

//first about
.introduce__name{
  margin: 0 auto 40px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;

}
.introduce__full-name{
  //margin-top: 5%;
  display: flex;
  flex-direction: column;
  font-size: 47.3392px;
  line-height: 59px;
  //align-self: end;
}
.introduce__main__info{
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  align-self: end;
  padding-bottom: 1.3%;
}

.introduce__ru_eng{
  display: flex;
  flex-direction: row;
  padding-top: 6%;
  align-self: end;
  transform: rotate(-90deg);
  padding-left: 7px;
}
.ru{
  padding-right: 5px;
}
.eng{
  padding-left: 5px;
}

.button a{
  color: black;
}

.photo img{
  text-align: center;
  max-width: 100%;
}
.introduce__photo__container{
  padding-bottom: 104px;
  max-width: 940px;
}



// second section
.about{
  //min-width: 940px;
  max-width: 1445px;
  text-align: center;
  background-color: #F6F6F6;
  width: 100%;
  margin: 0 auto 91px;

}

.common__header{
  font-size: 34px;
  line-height: 42px;
  color: #070707;
  font-weight: 700;
}
.about__me{
  padding: 120px 0 18px;
}
.text{
  font-size: 18px;
  line-height: 22px;
}

.about__text{
  max-width: 100%;
}
.about__text p:nth-child(2){
  padding-bottom: 40px;
}
.about__text p:nth-child(4){
  padding-bottom: 40px;
}
.about__text p:last-child{
  padding-bottom: 107px;
}


// skills section
.skills{
  margin: 0 auto;
  text-align: center;
  max-width: 940px;

}
.skills__header{
  margin-bottom: 69px;
}
.common__header{}
.skills__description{
  margin-bottom: 83.5px;
}
.skills__programs__columns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //align-items: flex-start;
  flex: 0 1 25%;
}
.skills__column{
  width: 166.46px;
  height: 206.29px;
  margin-bottom: 110px;
}
.skills__item{}
.item{

}
.item__row{
  display: flex;
  flex-direction: column;
}
.item__image img{
  max-width: 89px;
  max-height: 89px;
  min-height: 89px;
}
.item__image{
  margin-bottom: 23px;
}
.item__name{
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  //margin-bottom: 41px;
  min-height: 75px;
}
.item__stars{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: start;
}

// Portfolio section
.portfolio{
  margin: 0 auto;
  text-align: center;
  max-width: 1445px;
  background-color: #F6F6F6;
  width: 100%;
  padding-top: 6rem;

}
.portfolio__header{
  padding-bottom: 17px;
  margin-bottom: 47px;
}
.portfolio__items{}
//.portfolio__item:last-child{
//  padding-bottom: 96px
//}
.item-port{}
.portfolio__item__photo{
  margin-bottom: 45px;
}
.portfolio__item__text{
  padding-bottom: 5px;
}
.portfolio__photo__container{}
.photo{}
.portfolio__item__link{
  margin-bottom: 99px;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}
.portfolio__item__link:last-child{
  padding-bottom: 96px;
}
.link a{
  color: #070707;
}

//footer section 622px height

.contacts{
  margin: 0 auto;
  text-align: center;
  max-width: 940px;
}
.contacts__header{
  padding-bottom: 9px;
  margin-bottom: 20px;
}
.contacts__text{
  margin-bottom: 29px;
}
.contacts__button{
  background-color: black;
  color: white;
  width: 181px;
  height: 42px;
  border-radius: 25px;
  margin: 0 auto 86px;
  line-height: 40px;
}
.contacts__icons__flex{
  align-items: center;
  position: relative;
}
.contacts__icons__flex__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 1 25%;
  width: 342px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
.contacts__icons__container{
  max-width: 40px;
}
.contacts__icons__container img{
  width: 100%;
}

.footer__lowest__text{
  position: absolute;
  margin-top: 92px;
  padding-bottom: 123px;
  right: 50%;
  transform: translateX(50%);
  font-size: 14px;
  line-height: 17px;
}
