@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');
// сверху шрифт на прозапас
@import "nullstyle.css";
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Medium'),
  url('../Gilroy-Medium.ttf') format('truetype'),
  url('../Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../Gilroy-Medium.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
