@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

.block{
  //padding: 30px;
  margin: 30px auto;
  text-align: center;
  border: 5px solid red;
  width: 500px;
  height: 700px;
  position: relative;
}
.block__common{
  height: 50px;
  font-size: 24px;
  line-height: 50px;
}
.block__1{
  background-color: yellow;
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
}
.block__2{
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}
.block__3{
  background-color: violet;
  margin-top: 50px;
}
#check-menu:checked ~ .block__1{
  width: 100%;
  z-index: 2;
}
#check-menu:checked ~ .block__3{
  display: none;
  overflow: hidden;
}