@import 'nullstyle.scss';

.container{
  max-width: 1180px;
  //min-width: 440px;
  margin: 0 auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 0 15px;
}



@media (max-width: 1180px) {
  .container{
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container{
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container{
    max-width: 480px;
    font-family: monospace;
    font-weight: lighter;
    color: yellow;
    line-height: 16px;
    font-size: 10px;
  }

}

@media (max-width: 500px) {
  .container{
    max-width: none;
  }
}

.header__row {
  display: flex;
  justify-content: space-around;
  max-height: 60px;
  align-items: center;
  padding: 30px 0;
}

.menu__list {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: bold;
}

.menu__list li {
  display: flex;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin: 0 20px;
  background-color: #0e6f78;
  border: 1px solid #0e6f78;
  justify-content: center;
  align-items: center;
}

.logo-link:visited{
  color: green;
}
.link{color: white}
.link:visited{color: white;}

.header__logo {
  font-size: 32px;
}

.first-line{
  display: flex;
}

.pic{
  margin-bottom: 15px;
}

.pic img{
  max-width: 100%;
}

.pic-2{
  margin-bottom: 15px;
  min-width: 139px; // чтобы ширина не уменьшалась меньше верхних
}

.pic-2 img{
  max-width: 100%;
}
.second-line{
  display: flex;
}

.first-line_row{
  padding: 10px;
  flex: 0 1 33.1%;
}

.second-line_row{
  padding: 10px;
  flex: 0 1 50%;
}

.block{
  background-color: #0e6f78;
  margin: 5px;
}

.block-text{
  color: white;
  line-height: 24px;
  font-size: 16px;
}