@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import 'nullstyle.scss';

//233.5  450/502  233.5

.container{
  height: 0px;
  width: 1357px;
  margin: 0 auto;
  background-color: green;
}

.main-block{
  height: 502px;
  width: 450px;
  margin: 233.5px 453.5px 0 453.5px;
  border-radius: 8px;
  border: 1px solid #dadce0;
}


.logo{
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
}

.title{
  &__enter{
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
  }
  &__use{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
}

.entry-block{
  &__enter-mail{
    font-size: 30px;
  }
  &__mail{
    font-size: 30px;
  }
  &__mail_area{
    font-size: 30px;
  }

  &__text{
    font-size: 30px;
  }
  &__further{

  }
  &__create-acc{
    font-size: 30px;
  }
  &__go{
    font-size: 30px;
  }
}

