*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
    padding: 30px;
}

.text{
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 30px 0;
}

.text:first-line{
    font-size: 34px;
    color: green;
}

.text:first-letter{
    font-size: 54px;
    color: red;
    /*background-color: #99cccc;*/
    /*border-radius: 15px;*/
    /*border: 1px solid #bcf4d0;*/
}

.list{

}

.list li{
    font-size: 24px;
    margin: 0 0 20px 0;
}

.list li:before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    margin: 0 10px 0 0;
}
.list li:hover:before{
    background-color: saddlebrown;
}
.list li:after{
    content: '';
    margin: 0 0 15px 10px;
    background: url("../img/icons/check.png") left no-repeat;
    padding: 0 0 0 35px;
    border: 1px solid red;
}

.list li:hover:after{
    background: url("../img/nike.jpg") left no-repeat;
    border: 2px solid darkgreen;
}

.button{
    height: 44px;
    line-height: 44px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #99cccc;
    background-color: #99cccc;
    color: white;
    border-radius: 25px;
    margin: 0 0 60px 0;
    padding: 0 30px;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 2.8px;
    box-shadow: 0 0 20px #99cccc;
}

.button:hover{
    border: 1px solid #273d46;
    background-color: #273d46;
    box-shadow: 0 0 20px #273d46;
}

.button:active{
    background-color: #273d46;
    box-shadow: 0 0 20px #273d46;
    position: relative;
    top: 3px
}


.button span:after{
    content: '';
    background: url("../img/icons/arrow.svg") right no-repeat;
    padding: 0 30px 0 0;

}