.site-header{
    font-size: 40px;
    color: brown;
    border: 5px;
    text-align: center;

}

.site-description{
    font-size: 30px;
    color: fuchsia;
    border: 5px;
    text-align: center;
}

div.main-navigation-menu{
    font-size: 20px;
    color: seagreen;
    border: 5px;
    text-align: center;
}

.secondary-header{
    font-size: 25px;
    color: aqua;
    border: 5px;
    text-align: center;
}


p.choose-file2{
    font-size: 30px;
    alignment-baseline: center;
}