*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: 1500px;
/* высоту потом можно поправить   */
}

.navbar{
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #98b0d9;
    position: fixed;

}

.navbar .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    list-style-type: none;
    margin-bottom: 0;
    color: black;
    opacity: 0.7;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

.navbar-menu li{
    display: inline-block;
}

.navbar-menu li a{
    display: inline-block;
    color: white;
    padding: 0 20px;
    transition: all 0.2s ease-in-out
}

.navbar-menu li a:hover{
    color: black;
}

.navbar-menu li a:active{
    position: relative;
    top: 3px;
}

.navbar-wrap{
    display: flex;
    flex-flow: row nowrap;
}

.callback{
    margin-left: 20px;
    padding: 10px 30px;
    font-size: 20px;
    background-color: #80b7b3;
    border-radius: 15px;
    color: white;
    transition: all 0.2s ease-in-out;
}

.callback:hover{
    background-color: #99cccc;
    color: black;
}

.callback:active{
    position: relative;
    top: 3px;
}

.navbar-brand{
    font-weight: 700;
    font-size: 36px;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-out;
    opacity: 0.7;
}
.navbar-brand:hover{
    color: black;
}

.block{
    padding: 170px 0 0 0;
    text-align: center;
    font-size: 24px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    color: #273d46;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block__text p{
    margin-bottom: 30px;
}

.block__text p:first-child{
    font-size: 40px;
    color: green;
}

.block__text .main-header{
    font-size: 14px;
    color: #273d46;
    opacity: 0.7;
}

.block__text p:first-child:first-letter{
    font-size: 40px;
    color: red;
}

.contant-image{
    box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
    background-color: #fff;
    padding: 10px;
    margin: 0 0 85px 0;
}