*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/* position устанавливает позиционирование элемента
    относительно других элементв или окна браузера   */
body{
    padding: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.parent{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    background: violet;
    padding: 50px;
    text-align: center;
    /*position: relative;*/

}
.block0{
    padding: 50px;
    width: 100%;
}

.block1{
    background: red;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}
.block2{background: green}
.block3{
    background: blue;
    position: sticky;
    top: 100px;

}
.block4{background: #e8e8e8}
.block5{background: orange}

/*-------------------*/

.block{
    border: 5px solid red;
    max-width: 800px;
    margin: 0 auto; /*выставляет наш блок в центр*/
    height: 1500px;
    color: black;
    position: relative;
    /*margin-bottom: 100px;*/
}
.block div{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
}

.block__1{
    background-color: blue;
    position: absolute;
    left: 0;
    top: 0;
}
.block__2{
    background-color: saddlebrown;
    position: static;
    }
.block__2:hover{
    position: relative; /* положение элемента устанавливается
    относительно его изначального положения в коде   */
    /*к relative также применяется з-индекс*/
    top: 30px;
    right: 10px;
    z-index: 1;
}

.block__3{
    background-color: green;
    position: relative;
    z-index: 2;
}

.block__4{
    width: 80%;
    position: fixed;
    background-color: greenyellow;
    top: 0;
    left: 10%;
    z-index: 3;
    /*margin: 0 auto;*/
}

.block__5{
    background-color: #42beec;
    position: sticky;
    color: #16eab9;
    top: 50px;
    max-width: 200px;
    border-radius: 15px;
}

.txtinput{
    height: 30px;
    border: 1px solid hotpink;
    font-size: 14px;
}

.block__6{
    height: 200px;
    position: sticky;
    color: #16eab9;
    top: 100px;
    background-color: red;
    max-width: 60%;
    margin: 0 auto;
}

.block__7{
    height: 200px;
    position: sticky;
    color: blueviolet;
    top: 130px;
    background-color: dodgerblue;
}

.block__8{
    height: 200px;
    position: sticky;
    color: blueviolet;
    top: 160px;
    background-color: seagreen;
}
.flip{padding-bottom: 50px;
padding-top: 50px}
.flip-body{
    margin: 0 auto;
    position: relative;
    width: 200px;
    height: 200px;
    transition: all 0.8s ease 0s;
    transform-style: preserve-3d;
    background-color: #80b7b3;
}
.flip-front, .flip-back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-front{
    z-index: 2;
    background-color: #273d46;
    backface-visibility: hidden;
}
.flip-back{
    background-color: #80b7b3;
    transform: rotateY(-180deg);
}

.flip-body:hover{
    transform: rotateY(180deg);
}
